doctype html
html
  head
    header 
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/client.js')
  body
    nav 
      ul 
        li 
          a(href='/') Home 
        li 
          a(href= logLink) #{logIn} 
        li 
          a(href='/signUp') Sign Up
  main
    block content
  footer