extends layout 

block content 
    br
    br
    div 
        button(type="submit", id='update_btn', onclick='handleGoToFormUpdate()') Update user
    br
    br
    div 
        button(type="submit", id='signOut_btn', onclick='handleGoToFormOut()') Log Out
